<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Projects Page </title>
    </head>

    <body>
        {{> header}}
        
        <p>{{portfolioInfo}}</p>
        <p>Link to git  <a href="https://github.com/xientist/nodeJS-course-webserver">Page</a></p>

        {{> footer}}


    </body>
</html>